%p#notice= notice
%p
  %strong Name:
  = @contact.name
%p
  %strong Email:
  = @contact.email
%p
  %strong Subject:
  = @contact.subject
%p
  %strong Message:
  = @contact.message
= link_to 'Edit', edit_contact_path(@contact)
|
\#{link_to 'Back', contacts_path}
